/* Want to have same font and background color throughout */
* {
    font-family: 'Lato', sans-serif;
    background-color:#5f9ea0;
    color:hsl(240, 67%, 94%);
}

#title {
    font-size: xx-large;
    text-align: center;
    border-style: dotted;
    border-color:rgb(192, 219, 253);
    border-width: .1em;
}

#sticky {
    position: sticky;
    top: 0;
    border: 2px solid lightsteelblue;
}

h2[class="intro"]{
    text-decoration:underline;
    font-size: x-large;
    color:rgba(240, 255, 240, 0.95);
}

h3.intro {
    text-decoration:underline;
    text-align: center;
    position: static;
}

.intro {
    text-align: center;
    font-size: x-large;
    color:honeydew;
}

.intro#prof_edition{
    text-decoration: underline;
}

/* Entire first block of text to be enclosed */
body section {
    border-style:solid;
    border-radius: 5%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding-top: 0%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0%;
    color:hsla(240, 67%, 94%, 0.95);
}

/* Second block of text to be enclosed */
div.free_time{
    border-style:solid;
    border-radius: 5%;
    margin: 1pc 5pt 10px 5pt;
    padding: 1rem .5rem 1rem .5rem;
    text-align: center;
}

code {
    font-size: large;
    text-decoration: double;
}

section > p {
    font-size: medium;
}

p + ol {
    font-size: small;
}

p ~ ul {
    font-size: small;
}

a:hover {
    color: rgb(80, 120, 251)
}

a:active {
    color: rgb(240, 176, 58)
}

.tiktok {
    font-size: large;
    text-align: center;
    margin-bottom: 10px;

}

#tiktokvideo {
    margin: auto;
    width: 600px;
    height: 720px;
}

#labrador {
    display: none;
}

#image {
    max-width: 80%;
    min-width: 20%;
    align-items: center;

}

img.mydogs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 90%;
}

form {
    text-align: center;
    border-style:solid;
    border-radius: 5%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding-top: 0%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    color:hsla(240, 67%, 94%, 0.95);
}

.tiktoksec {
    border-style:solid;
    border-radius: 5%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding-top: 0%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10%;
    color:hsla(240, 67%, 94%, 0.95);    
}

#flex {
    text-align: center;
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-around;
  }

.item1{
    flex-grow: 1;
    background:mediumaquamarine;
    padding: 5px;
    font-weight: bold;
    font-size: 2em;
    color: #fff;
    width: 100px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}

.form {
    text-align: center;
    font-size: large;
}

.grid_container{
    padding: 5px;
    background-color:rgb(72, 209, 204, 0.4);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.grid_item {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color:rgb(72, 209, 204, 0.2);
 }

 @media only screen and (max-width: 800px) {
    body {
      background-color: #5eb1b3;
    }
  }